.sidebaruser-container {
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     gap: 16px;

}

.sidebaravatar {
     width: 56px;
     height: 56px;
}

.sidebarusername {
    
    width: 150px;
    height: 25px;
    top: 135px;
    left: 112px;
}