    .clothes-section__row {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 20px;

    }

    .clothes-section__items {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        grid-auto-rows: 328px;
        grid-gap: 20px;
        box-sizing: border-box;
        justify-items: center;
        width: 100%;
        padding-left: 0;
    }

    .clothes-section__add-btn {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        font: inherit;
        color: inherit;
}